.dad {
    display: flex ;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    align-items: center;
    /* IMPORTANTE */
    text-align: center;
  }
.dad select, .dad .jqxInput {
  min-width: 180px;
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.dad .search_autoguess {
  margin: 1rem;
}

#table_list_shop,#list_shop_home,#table_detailed_shop {
  width: 100%;
  text-align: center;
}
#table_list_shop td,#list_shop_home td,#table_detailed_shop td {
  border: 1px solid #AAAAAA;
  padding: 1%;
  width: 5%; /*Aquí va el ancho de la Celda*/
  height: 7px;
  font-size: 14px;
  text-align: center;
}

 .listing {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  list-style: none;
  margin: 1em;
  width: 100%;
}
 .listing li {
  border: 1px solid #ffe066;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
}
 .listing .cta {
  border-top: 1px solid #ffe066;
  padding: 10px;
  text-align: center;
}
 .listing .body {
  padding: 10px;
}
 .listing .body img {
  display: block;
  margin: 1em auto;
  max-width: 100%;

}
/* ShopCart Count */
	.p1[data-count]:after{
	position:absolute;
	right:10%;
	content: attr(data-count);
	font-size:40%;
	padding:.2em;
	border-radius:50%;
	line-height:1em;
	color: white;
	background:rgba(255,0,0,.85);
	text-align:center;
	min-width: 1em;
	
	}
/* ShopCart Count */
/* Print products cart */
	#body_cart {
		margin: 5%;
	}
	#body_cart table {
		border-collapse: collapse;
		width: 100%;
	}

	#body_cart th, td {
		padding: 3px;
		text-align: left;
		border-bottom: 1px solid #ddd;
	}
/* Print products cart */
/* Flexbox-register_icons */
	.header-top-right {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row ;
		align-items: center;
		flex-wrap:  nowrap;
	}
	#No_user_avatar{
		height:60px; 
     	width: 30%; 
     	/* border: 3px solid #555; */
		 background-image: url("../images/default-user-image.png");
		 background-repeat: no-repeat;
		 background-size: cover;
	}
	#user_avatar {
     	width: 35%; 
	}
	img{
		width: 70%;
	}
	.user_select_avatar{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		list-style: none;
		margin: 1em;
		width: 100%;
	}
	#profile_pic img{
 		padding: 5px;
		width: 70px;
		height: 70px;
		margin-top: 10px;
		

	}



	

/* Flexbox-register_icons */

/* Login */
	.panel-login {
		border-color: #ccc;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	}
	.panel-login>.panel-heading {
		color: #00415d;
		background-color: #fff;
		border-color: #fff;
		text-align:center;
	}
	.panel-login>.panel-heading a{
		text-decoration: none;
		color: #666;
		font-weight: bold;
		font-size: 15px;
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		transition: all 0.1s linear;
	}
	.panel-login>.panel-heading a.active{
		color: #00415d;
		font-size: 18px;
	}
	.panel-login>.panel-heading hr{
		margin-top: 10px;
		margin-bottom: 0px;
		clear: both;
		border: 0;
		height: 1px;
		background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
		background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
		background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
		background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	}
	.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
		height: 45px;
		border: 1px solid #ddd;
		font-size: 16px;
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		transition: all 0.1s linear;
	}
	.panel-login input:hover,
	.panel-login input:focus {
		outline:none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-color: #ccc;
	}
	.btn-login {
		background-color: #59B2E0;
		outline: none;
		color: #fff;
		font-size: 14px;
		height: auto;
		font-weight: normal;
		padding: 14px 0;
		text-transform: uppercase;
		border-color: #59B2E6;
	}
	.btn-login:hover,
	.btn-login:focus {
		color: #fff;
		background-color: #53A3CD;
		border-color: #53A3CD;
	}
	.forgot-password {
		text-decoration: underline;
		color: #888;
	}
	.forgot-password:hover,
	.forgot-password:focus {
		text-decoration: underline;
		color: #666;
	}

	.btn-register {
		background-color: #00415d;
		outline: none;
		color: #fff;
		font-size: 14px;
		height: auto;
		font-weight: normal;
		padding: 14px 0;
		text-transform: uppercase;
		border-color: #1CB94A;
	}
	.btn-register:hover,
	.btn-register:focus {
		color: #fff;
		background-color: #1CA347;
		border-color: #1CA347;
	}
/* Login */